nhanes_xpt/C/BMX_C.XPT
nhanes_xpt/C/BPX_C.XPT
nhanes_xpt/C/DEMO_C.XPT
nhanes_xpt/C/MCQ_C.XPT
nhanes_xpt/C/SMQ_C.XPT
nhanes_xpt/D/BMX_D.XPT
nhanes_xpt/D/BPX_D.XPT
nhanes_xpt/D/DEMO_D.XPT
nhanes_xpt/D/MCQ_D.XPT
nhanes_xpt/D/SMQ_D.XPT
nhanes_xpt/E/BMX_E.XPT
nhanes_xpt/E/BPX_E.XPT
nhanes_xpt/E/DEMO_E.XPT
nhanes_xpt/E/MCQ_E.XPT
nhanes_xpt/E/SMQ_E.XPT
nhanes_xpt/F/BMX_F.XPT
nhanes_xpt/F/BPX_F.XPT
nhanes_xpt/F/DEMO_F.XPT
nhanes_xpt/F/MCQ_F.XPT
nhanes_xpt/F/SMQ_F.XPT
nhanes_xpt/G/BMX_G.XPT
nhanes_xpt/G/BPX_G.XPT
nhanes_xpt/G/DEMO_G.XPT
nhanes_xpt/G/MCQ_G.XPT
nhanes_xpt/G/SMQ_G.XPT
nhanes_xpt/H/BMX_H.XPT
nhanes_xpt/H/BPX_H.XPT
nhanes_xpt/H/DEMO_H.XPT
nhanes_xpt/H/MCQ_H.XPT
nhanes_xpt/H/SMQ_H.XPT
nhanes_xpt/I/BMX_I.XPT
nhanes_xpt/I/BPX_I.XPT
nhanes_xpt/I/DEMO_I.XPT
nhanes_xpt/I/MCQ_I.XPT
nhanes_xpt/I/SMQ_I.XPT
nhanes_xpt/J/BMX_J.XPT
nhanes_xpt/J/BPX_J.XPT
nhanes_xpt/J/DEMO_J.XPT
nhanes_xpt/J/MCQ_J.XPT
nhanes_xpt/J/SMQ_J.XPT
